---
layout: layouts/base.njk
indexPage: true
---

<style>
  .hero {
    text-wrap: balance;
    margin-block-end: 2em;

    margin-inline: calc(-2*var(--step));
    padding-inline: calc(2*var(--step));
    border-block-end: 3px solid var(--color-fg);
  }
  @media (min-width: 550px) {
    .hero {
      display: flex;
      gap: 2em;
      padding-block-start: 1em;
    }
  }
  @media (min-width: 768px) {
    .hero {
      margin-inline: auto;
      padding-inline: 0;
    }
  }
  @media (min-width: 1300px) {
    .hero {
      border-width: 5px;
      padding-block-start: 0;
    }
  }

  .hero h1 {
    display: none;
  }
  @media (min-width: 1300px) {
    .hero h1 {
      display: block;
    }
  }

  .hero br {
    display: none;
  }
  @media (min-width: 550px) {
    .hero br {
      display: unset;
    }
  }

  .hero .description {
    font-size: 28px;
    margin-block-end: 2em;
    flex-grow: 1;
  }
  @media (min-width: 550px) {
    .hero .description {
      margin-block-end: 1em;
    }
  }
  @media (min-width: 1300px) {
    .hero .description {
    }
  }

  .tower-wrap {
    flex-shrink: 0;
  }

  .tower {
    display: block;
    margin: 0 auto;
    margin-block-end: -8px;
  }
  @media (min-width: 1300px) {
    .tower {
      height: 345px;
      margin-inline-end: -18px;
      margin-block-end: -12px;
    }
  }
  @media (prefers-color-scheme: dark) {
    .tower {
      filter: invert(1);
    }
  }

</style>

<div class="hero">
  <div class="description">
    <h1>Hackspace</h1>
    <strong>Команда</strong> хардварных, софтварных
    <br><s>и&nbsp;айварных</s>
    <br>энтузиастов в&nbsp;<strong>Белграде</strong>.
  </div>
  <div class="tower-wrap">
    <img class="tower" src="/_assets/img/common/tower.svg">
  </div>
</div>

<div>
  <p>
    Мы&nbsp;организуем некоммерческие мероприятия,
    на&nbsp;которых делимся опытом,
    реализуем идеи на&nbsp;практике и&nbsp;общаемся.
  </p>
  <p>
    Кроме того, <strong>Xecut</strong>&nbsp;&mdash; это <strong>хакспейс</strong> где,
    любой желающий может поработать
    над тематическим проектом и&nbsp;выступить с&nbsp;докладом.
  </p>
</div>

<h2>
  Contacts
</h2>
<ul>
  <li>
    <a target="_blank" href="{{ config.links.channel }}">Telegram: Канал</a>
  </li>
  <li>
    <a target="_blank" href="{{ config.links.chat }}">Telegram: Чат</a>
  </li>
</ul>
