---
layout: layouts/base.njk
indexPage: true
---

<style>
  .hero {
    text-wrap: balance;
    margin-block-end: 2em;

    margin-inline: calc(-2*var(--step));
    padding-inline: calc(2*var(--step));
    border-block-end: 3px solid var(--color-fg);
  }
  @media (min-width: 550px) {
    .hero {
      display: flex;
      gap: 1em;
      padding-block-start: 1em;
    }
  }
  @media (min-width: 768px) {
    .hero {
      margin-inline: auto;
      padding-inline: 0;
      padding-block-start: 0em;
    }
  }
  @media (min-width: 1300px) {
    .hero {
      border-width: 5px;
      padding-block-start: 0;
    }
  }

  .hero h1 {
    display: block;
  }
  @media (min-width: 1300px) {
    .hero h1 {
      display: block;
    }
  }

  .hero br {
    display: none;
  }
  @media (min-width: 550px) {
    .hero br {
      display: unset;
    }
  }

  .hero .description {
    font-size: 23px;
    margin-block-end: 2em;
    flex-grow: 1;
  }
  @media (min-width: 550px) {
    .hero .description {
      margin-block-end: 1em;
    }
  }
  @media (min-width: 1300px) {
    .hero .description {
      display: flex;
      flex-direction: column;
    }
    .hero .description div {
      margin-top: auto;
      margin-bottom: 1.0em;
      font-size: 28px;
    }
  }

  .tower-wrap {
    flex-shrink: 0;
  }

  .tower {
    display: block;
    margin: 0 auto;
    margin-block-end: -8px;
    width: 135px;
    height: 270px;
  }
  @media (min-width: 1300px) {
    .tower {
      width: 186px;
      height: 372px;
      margin-inline-end: -20px;
      margin-block-end: -12px;
    }
  }
  @media (prefers-color-scheme: dark) {
    .tower {
      filter: invert(1);
    }
  }

  .tags {
    font-family: Xecut;
    font-size: calc(3.2 * var(--step));
  }
</style>

<div class="hero">
  <div class="description">
    <h1>Hackspace</h1>
    <p class="tags">
      FPGA, Information Security, Engineering, DIY, Embedded,
      Reverse Engineering, Wireless, IoT, Open-Source, AI/ML, LLM.
    </p>
  </div>
  <div class="tower-wrap">
    <img class="tower" src="/_assets/img/tower/tower_logo.svg">
  </div>
</div>

<div>
<!--
<p>
    Здесь любой желающий может поработать над тематическим проектом и&nbsp;выступить с&nbsp;докладом.
    </p>-->
<!--<p>
  Цель хакерспейса - .
</p>-->

  <!--<p>
  Наши текущие направления: <br>
  </p>-->
    <div>
      <strong>Место силы</strong> для заинтересованных в современных&nbsp;(и&nbsp;не&nbsp;очень) технологиях.
    </div>
  <p>
    Мы&nbsp;собираемся, чтобы делиться опытом,
    реализовывать идеи на&nbsp;практике и&nbsp;общаться.
  </p>
  <p>
    Посетить хакспейс можно во время мероприятий или предварительно написав нам в <a>Чат</a>.
  </p>
<!--  <p>
  Поддержать развитие хакспейса можно оставив донат
  </p>-->
<!--  <p>
    Кроме того, <strong>Xecut</strong>&nbsp;&mdash; это
    <strong>хакспейс</strong>, где
    любой желающий может поработать
    над тематическим проектом и&nbsp;выступить с&nbsp;докладом.
  </p>-->
</div>

<h2>
  Contacts
</h2>
<ul>
  <li>
    <a target="_blank" href="{{ config.links.channel }}">Telegram: Канал</a>
  </li>
  <li>
    <a target="_blank" href="{{ config.links.chat }}">Telegram: Чат</a>
  </li>
</ul>
