<div class="hero">
  <div class="tower_cell">
    <img
      class="tower black-on-white"
      alt="Xecut Logo Tower"
      src="/_assets/img/tower/tower_logo.svg"
    >
  </div>
  <div class="tags">
    <div class="tag">DIY</div>
    <div class="tag">Engineering</div>
    <div class="tag">Embedded</div>
    <div class="tag">FPGA</div>
    <div class="tag">IoT</div>
    <div class="tag">AI/ML</div>
    <div class="tag">LLM</div>
    <div class="tag">Wireless</div>
    <div class="tag">Reverse Engineering</div>
    <div class="tag">Information Security</div>
    <div class="tag">Open-Source</div>
  </div>
</div>
