{% set items = config.menu %}

<ul>
{%- for item in items %}
  {% set isCurrent = page.url.startsWith('/' ~ page.lang ~ '/' ~ item) %}
  {% set label = item %}
  {% set href = ('/' ~ item ~ '/') | locale_url %}

  <li>
  {% if isCurrent %}
    <span>{{ label }}</span>
  {% else %}
    <a href="{{ href }}">{{ label }}</a>
  {% endif %}
  </li>

{%- endfor %}
</ul>
