<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% if title %} {{ title }} | {% endif %}
      {{ translations[page.lang]['title'] }}
    </title>
    <meta
      name="description"
      content="{{ description or translations[page.lang]['description'] }}">

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="/_assets/css/fonts.css">
    <link rel="stylesheet" href="/_assets/css/vendor.css">
    <link rel="stylesheet" href="/_assets/css/variables.css">
    <link rel="stylesheet" href="/_assets/css/base.css">
    <link rel="stylesheet" href="/_assets/css/layouts/default.css">
    <link rel="stylesheet" href="/_assets/css/parts/menu.css">

    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="default-layout">
      {% include 'parts/menu.njk' %}
      <main>
        {{ content | safe }}
      </main>
    </div>
    {% block extra_js %}{% endblock %}
  </body>
</html>
