<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% if title %} {{ title }} | {% endif %}
      {{ metadata.title }}
    </title>
    <meta
      name="description"
      content="{{ description or metadata.description }}">

    <link
      rel="alternate"
      href="/feed/feed.xml"
      title="{{ metadata.title }}"
      type="application/atom+xml">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
