<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% if title %} {{ title }} | {% endif %}
      {{ translations[page.lang]['title'] }}
    </title>
    <meta
      name="description"
      content="{{ description or translations[page.lang]['description'] }}">

    <link
      rel="alternate"
      href="/feed/feed.xml"
      title="{{ translations[page.lang]['title'] }}"
      type="application/atom+xml">

    <link rel="stylesheet" href="/_assets/css/base.css">
    <link rel="stylesheet" href="/_assets/css/menu.css">
  </head>
  <body>
    {% include 'parts/menu.njk' %}

    {{ content | safe }}
  </body>
</html>
