.hero {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: calc(0.5 * var(--step));
  --hero-border: calc(0.5 * var(--step)) solid var(--color-inactive);
  margin-block-end: calc(4 * var(--step));

  font-family: Xecut;
  font-size: calc(3 * var(--step));
}
@media (max-width: 500px) {
  .hero {
    flex-direction: row-reverse;
    align-items: normal;

    padding: 0;
    margin-block-end: calc(0 * var(--step));

    font-size: calc(2 * var(--step));
  }
}

.hero::before,
.hero::after {
  content: '';

  position: absolute;
  inset-inline-end: 0;
  z-index: -1;

  height: calc(1 * var(--step));
  width: 90%;
  border-inline: var(--hero-border);
}
.hero::before {
  inset-block-start: calc(0.5 * var(--step));
  border-block-start: var(--hero-border);
}
.hero::after {
  inset-block-end: calc(1 * var(--step));
  border-block-end: var(--hero-border);
}

.hero .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hero .tag {
  outline: var(--hero-border);
  border: var(--hero-border);
  padding: calc(0.25 * var(--step)) calc(1.5 * var(--step));
  background: var(--color-bg);
}
@media (max-width: 500px) {
  .hero .tag {
    flex-grow: 1;
  }
}

.hero .tower_cell {
  flex-shrink: 0;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  outline: var(--hero-border);
  border: var(--hero-border);
  background: var(--color-bg);
}
@media (max-width: 500px) {
  .hero .tower_cell {
    align-items: flex-end;
  }
}

.hero .tower {
  margin: calc(4 * var(--step));
  width: calc(18 * var(--step));
  height: calc(36 * var(--step));
}
@media (prefers-color-scheme: dark) {
  .hero .tower {
    filter: invert(1);
  }
}
@media (max-width: 500px) {
  .hero .tower {
    margin: calc(1 * var(--step));
    height: calc(20 * var(--step));
    width: calc(10 * var(--step));
  }
}
