html, body {
  font-family: Play, sans-sefif;
  min-height: 100%;
}

body {
  overflow-y: scroll;
}

/* */

*::selection {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

*:focus-visible {
  outline: calc(0.5 * var(--step)) solid var(--color-fg);
  outline-offset: calc(0.5 * var(--step));
}

/* */
h1 {
  font-family: Xecut, sans-sefif;
  font-weight: normal;
  font-size: calc(9 * var(--step));
  margin-block-start: 0;
}
