html, body {
  font-family: Play, sans-sefif;
  min-height: 100%;
}

body {
  overflow-y: scroll;
}

*::selection {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

h1 {
  font-family: Xecut, sans-sefif;
  font-weight: normal;
  font-size: 72px;
  margin-block-start: 0;
}
