.default-layout {
  height: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .default-layout {
    flex-direction: column;
  }
}

.default-layout > main {
  flex: 1 1 auto;
  padding: calc(4 * var(--step));
  max-width: calc(100 * var(--step));
}

/* @see ./menu.css */
