.default-layout {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .default-layout {
    flex-direction: column;
  }
}
@media (min-width: 1610px) {
  .default-layout {
    width: 1366px;
    margin: 0 auto;
  }
}

.default-layout > main {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding: calc(4 * var(--step));
  max-width: calc(100 * var(--step));
}
@media (max-width: 768px) {
  .default-layout > main {
    padding: calc(2 * var(--step));
    max-width: 100%;
  }
}

/* @see ./menu.css */
