header.menu {
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;

  padding: calc(4 * var(--step));

  min-height: 100vh;
  height: fit-content;
  width: calc(40 * var(--step));

  box-sizing: border-box;

  font-family: Xecut, sans-serif;
  text-align: end;

  z-index: 1;
}
@media (max-width: 768px) {
  header.menu {
    min-height: auto;
    height: auto;
    width: 100%;

    padding: 0;

    border-block-end: calc(0.5 * var(--step)) solid var(--color-fg);
    background-color: var(--color-bg);
  }
}

/* Link Style */

header.menu a {
  color: var(--color-fg);
  border-block-end: calc(0.8 * var(--step)) solid;
  border-color: transparent;
  transition: border-color 0.2s ease;
}
@media (min-width: 768px) {
  header.menu a:hover {
    border-color: var(--color-fg);
  }
}

/* Topbar */

header.menu .topbar {}
@media (max-width: 768px) {
  header.menu .topbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 calc(2 * var(--step));
  }
}

/* Logo */

header.menu .logo a {
  /* @see h1 in base.css */
  font-size: calc(9 * var(--step));
  line-height: 1;
  border-block-end-width: calc(1 * var(--step));
}
@media (max-width: 768px) {
  header.menu .logo a {
    font-size: calc(5 * var(--step));
    line-height: 1.6;
  }
}

/* Hamburger Menu Button */

header.menu .main-menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

  margin-inline-start: auto;
  padding: calc(1 * var(--step));

  width: calc(3 * var(--step));
  height: calc(3 * var(--step));
  box-sizing: content-box;
}
@media (max-width: 768px) {
  header.menu .main-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

header.menu .main-menu-button-part {
  display: block;

  height: 20%;
  width: 100%;

  background-color: var(--color-fg);
}

/* Menu or Dropdown Menu */

header.menu .navbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  font-size: calc(4 * var(--step));
}
@media (max-width: 768px) {
  header.menu .navbar {
    display: none;
  }
  header.menu .navbar.active {
    display: block;
  }
}

/* List of Pages */

header.menu .nav-links {
  padding: 0;
  margin: calc(8 * var(--step)) 0;
}
@media (max-width: 768px) {
  header.menu .nav-links {
    margin: calc(0 * var(--step)) 0;
    padding: calc(0 * var(--step));
    border-block: calc(0.5 * var(--step)) solid var(--color-fg);
  }
}

header.menu .nav-links li {
  border-inline-end: calc(1 * var(--step)) solid;
  border-color: var(--color-inactive);

  padding: calc(1 * var(--step)) calc(2 * var(--step));

  list-style: none;
}
header.menu .nav-links li.active {
  border-color: var(--color-fg);
}

/* Language Switcher */

header.menu .nav-langs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0;
  margin: 0;
  margin-block-start: auto;

  text-transform: uppercase;
}

header.menu .nav-langs li {
  list-style: none;
}

header.menu .nav-langs .lang-separator {
  color: var(--color-inactive);
}
header.menu .nav-langs .lang-separator:first-child {
  display: none;
}

/* Hidden Logo */

.desktop-logo {
  display: none;
  margin-block-start: auto;
}
