@font-face {
  font-family: 'Xecut';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* Experimental */
  font-smooth: never;
  -webkit-font-smoothing : none;
  /* */
  src: url('/_assets/fonts/xecut/xecut.woff2') format('woff2');
}
